alias cls='clear'
alias dropbox='cd /c/Users/ridva/Dropbox/'
alias home='cd /c/Users/ridva/Desktop/'
alias docker-stop-all='docker stop $(docker ps -a -q)'
alias docker-remove-all='docker rm $(docker ps -a -q)'
alias docker-finish-all='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'
alias bash='nano ~/.bashrc'
alias bashx='source ~/.bashrc && echo -e "\033[1m\033[32m✅ Done"'
alias zsh='nano ~/.zshrc'
alias zshx='source ~/.zshrc && echo -e "\033[1m\033[32m✅ Done"'
alias edithosts='sudo nano /etc/hosts'
alias e.='thunar'
alias ok="ping google.com"
alias h="history"
alias j="jobs -l"
alias ports="sudo netstat -tulanp"
alias reboot="sudo reboot"
alias shutdown="sudo shutdown"
alias poweroff="sudo poweroff"
alias cpuinfo="lscpu"
alias meminfo="free -m -l -t"
alias local_ip_adresses="ifconfig | grep inet"
alias ip_adress="curl -w 'http://ifconfig.me'"
alias gitconfig="nano ~/.gitconfig"
alias jn='jekyll new'
alias jb='bundle exec jekyll build'
alias js='bundle exec jekyll serve'
alias jsd='bundle exec jekyll serve --drafts'
alias jbw='bundle exec jekyll build --watch'
# alias rm="rm -v" # pm ile sorun çıkartıyor
alias cp="cp -v"
alias mv="mv -v"
alias c:="cd /c"
alias d:="cd /d"
alias s:="cd /s"
