# File Explorer
explorer() {
   thunar $1 $2 $3 $4 $5 $6 $7 $8 $9
}

# Git Stash
# gitstash nice, gitstashapply nice

gitstash() {
    git stash push -m "zsh_stash_name_$1"
}

gitstashapply() {
    git stash apply $(git stash list | grep "zsh_stash_name_$1" | cut -d: -f1)
}

# Lorem Ipsum Generator
li() {
    if [ "${1}" != "-p" ] || [ "${1}" != "-s" ] || [ "${1}" != "--sentences" ] || [ "${1}" != "--paragraphs" ] || [ "${2}" == "" ]; then
        echo "Usage: li [--paragraphs, -p, --sentences, -s] [integer]"
    else
        if [ "${1}" == "-p"] || [ "${1}" == "--paragraphs" ]; then
            target = "paragraphs"
        else
            target = "sentences"
        fi
        curl -s http://metaphorpsum.com/"$target"/"${2}" && printf "\n"
    fi
}

# -----------------------------------
#  Create a new permanent bash alias
#
#  @param $1 - name
#  @param $2 - definition
# -----------------------------------
new-alias () {
  if [ -z "$1" ]; then
    echo "alias name:" && read NAME
  else
    NAME=$1
  fi

  if alias $NAME 2 > /dev/null > /dev/null; then
    echo "alias $NAME already exists - continue [y/n]?" && read YN
    case $YN in
      [Yy]* ) echo "okay, let's proceed.";;
      [Nn]* ) return;;
      * ) echo "invalid response." && return;;
    esac
  fi

  if [ -z "$2" ]; then
    echo "alias definition:" && read DEFINTION
  else
    DEFINTION="$2"
  fi

  if [ -f ~/.bash_aliases ]; then
    echo "alias $NAME=\"$DEFINTION\"" >> ~/.bash_aliases
  else
    echo "alias $NAME=\"$DEFINTION\"" >> ~/.bashrc
  fi

  alias $NAME="$DEFINTION"
}
